.container {
  width: 90vw;
  margin: 0 auto;
  padding: 40px 10px;
  text-align: center;
}
#dice-wrapper {
  width: 100%;
  display: flex;
  align-items: center;
  min-height: 440px;
  justify-content: center;
  flex-wrap: wrap;
  color: #fff;
}
.loading,
.error {
  font-size: 40px;
}


@media  screen and (max-width: 500px){
  #dice-wrapper {
    min-height: 340px;
  }
}